<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fooddonationapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:targetApi="31">

        <!-- Splash Screen - MUST have exported="true" because it has LAUNCHER intent filter -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Screen -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />

        <!-- Home Screen -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Donor Flow -->
        <activity
            android:name=".DonorActivity"
            android:exported="false" />
        <activity
            android:name=".DonationFormActivity"
            android:exported="false" />
        <activity
            android:name=".MyDonationsActivity"
            android:exported="false" />

        <!-- Receiver Flow -->
        <activity
            android:name=".ReceiverActivity"
            android:exported="false" />

        <!-- Additional Pages -->
        <activity
            android:name=".HowToUseActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />

    </application>

</manifest>